.App{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Divide the container into two columns */
  grid-template-rows: repeat(2, 1fr); /* Divide the container into two rows */
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  cursor: pointer;
  border: 1px solid grey;
}

.cell.on {
  background-color: black;
}
h2{
  text-align: center;
}
